:root {
  --color-primary: #f5f2f2;
  --color-secondary: #fff;
  --color-accent: #ffc2df;
  --color-heading: #000;
  --color-black: #000;
  --color-white: #fff;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: #858383;
}

html {
  /*62.5% of 16px =10px*/
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 1.5;
  background: var(--color-primary);
}

h1,
h2,
h3 {
  color: var(--color-heading);
  text-transform: capitalize;
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 6.5rem;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/*Buttons*/
.btn {
  border-radius: 5px;
  outline: 0;
  padding: 1.5rem 2.2rem;
  font-weight: 400;
  cursor: pointer;
}

.btn--primary {
  background: var(--color-black);
  color: var(--color-white);
}

.btn--primary:hover {
  background: rgba(28, 28, 28, 0.9);
  color: var(--color-white);
}

.btn--secondary {
  border: 1.5px solid var(--color-heading);
  background: var(--color-primary);
}

.btn--secondary:hover {
  background: rgb(214, 214, 214);
}

.btn--small {
  padding: 1rem 1.5rem;
}

.btn--arrow::after {
  content: "-->";
  padding-left: 0.5rem;
}
.btn--arrow:hover::after {
  padding-left: 1rem;
}

/*Link*/
a {
  text-decoration: none;
  color: var(--color-black);
}
a:active,
a:hover {
  color: rgba(42, 42, 42, 0.9);
}

/*Navbar*/

.nav {
  padding: 0 1rem;
}

.nav__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.nav__item {
  font-weight: 500;
  font-size: 2rem;
  padding: 1.5rem;
}

.nav__item .btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
  }

  .nav__left,
  .nav__item {
    padding: 0 1.5rem;
  }
  .nav__right {
    flex: 0 0 auto;
    display: flex;
  }
  .nav__right {
    flex: 0 0 35%;
    justify-content: flex-end;
  }
  .nav__center {
    flex: 0 0 45%;
    display: flex;
  }

  .nav__item .btn {
    display: inline;
  }
}

/*Grid*/

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Hero*/
.hero__tagline{
  font-weight: 400;
  max-width: 500px;
  line-height: 2;
}

.hero__tagline::before {
  content: open-quote;
}
.hero__tagline::after {
  content: close-quote;
}

.hero__btns{
  margin-top: 6rem;
}

.hero__img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 3rem;
}
.hero__users{
  margin-top: 6rem;
}

/*Container*/
.container {
  max-width: 1140px;
  margin: 0 auto;
}
/*Beta Users*/
.beta-user-img{
  display: flex;
  position: relative;
}
.user{
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid var(--color-black);
  transition: transform 0.5s;
}

#user1{
 left:0
}
#user2{
  left: 25px;
}
#user3{
  left: 50px;
}
#user4{
  left: 75px;
}
#user5{
  left:100px
}

.user:hover{
  transform: translateY(-10px);
}
.user__content {
  position: absolute;
  left: 150px;
}

.user__num {
  font-weight: 500;
  margin-bottom: 0;
}
.user__sub{
  font-size: 1rem;
  color: #a09e9e;
  font-weight: 300;
}

/*Partners*/
.partners{
  text-align: center;
}

.partner__logoes{
  display: flex;
  justify-content: space-between;
}
.partner__img{
  width: 150px;
  height: 150px;
  fill: #706d6e !important;
}
.partner__heading{
  margin-bottom: 0;
  color: #706d6e;
  letter-spacing: 1.5;
}

