:root {
  --color-primary: #f5f2f2;
  --color-secondary: #fff;
  --color-accent: #ffc2df;
  --color-heading: #000;
  --color-black: #000;
  --color-white: #fff;
  --color-muted: #a09e9e;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

/*Typography*/

::selection {
  background: var(--color-primary);
  color: #858383;
}

html {
  /*62.5% of 16px =10px*/
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 2.4rem;
  font-weight: 1.5;
  background: var(--color-primary);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  text-transform: capitalize;
  margin-bottom: 2rem;
  margin-top: 0;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

label {
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: left;
}

input {
  margin-bottom: 2.5rem;
  font-size: 1.3rem;
  text-transform: capitalize;
  border: 1px solid var(--color-muted);
  border-radius: 5px;
  padding: 1.2rem;
  outline: none;
}

input:focus {
  border: 2px solid var(--color-accent);
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 5.5rem;
  }
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}
.block {
  --padding-vertical: 6rem;
  padding: var(--padding-vertical) 2rem;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

/*Buttons*/
.btn {
  border-radius: 5px;
  outline: 0;
  padding: 1.5rem 2.2rem;
  font-weight: 400;
  cursor: pointer;
  display: inline-block;
}

.btn--primary {
  background: var(--color-black);
  color: var(--color-white);
}

.btn--primary:hover {
  background: rgba(28, 28, 28, 0.9);
  color: var(--color-white);
}

.btn--secondary {
  border: 1.5px solid var(--color-heading);
  background: var(--color-primary);
}

.btn--secondary:hover {
  background: rgb(214, 214, 214);
}

.btn--small {
  padding: 1rem 1.5rem;
}

.btn--arrow {
  border: 1px solid var(--color-black);
  display: inline-block;
}

.btn--arrow::after {
  content: "-->";
  padding-left: 0.5rem;
}
.btn--arrow:hover::after {
  padding-left: 1rem;
}

.active-btn {
  font-size: 1.6rem;
  font-weight: 500;
  color: rgb(50, 205, 50);
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

.active-btn:hover {
  border: 1px solid rgb(50, 205, 50);
  color: rgb(50, 205, 50);
}

/*Link*/
a {
  text-decoration: none;
  color: var(--color-black);
}
a:active,
a:hover {
  color: rgba(42, 42, 42, 0.9);
}
/*Date*/
.date {
  font-size: 1rem;
  font-weight: 500;
  padding: 2rem 0 1rem 1rem;
}

/*Navbar*/

.nav {
  padding: 0 1rem;
}

.nav__list {
  margin: 0;
  list-style: none;
  padding-left: 0;
  width: 100%;
}

.nav__left{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.nav__center .nav__item {
  padding: 1.5rem;
}
.nav__right .nav__item {
  padding: 1.5rem;
}

.nav__item {
  font-weight: 500;
  font-size: 2rem;
  /* padding: 1.5rem; */
}

.nav__item .btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
  }
  .nav__list {
    width: auto;
    display: flex;
    font-size: 1.6rem;
  }

  .nav__center .nav__item {
    padding: 0 1.2rem;
  }
  .nav__right .nav__item {
    padding: 0 1.2rem;
  }
  .nav__right {
    display: flex;

    flex: 0 0 35%;
    justify-content: flex-end;
  }
  .nav__center {
    flex: 0 0 45%;
    display: flex;
  }

  .nav__item .btn {
    display: inline;
  }
}

/*Grid*/

.grid {
  display: grid;
  gap: 8rem 4rem;
}

@media screen and (min-width: 768px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--cols-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*Hero*/
.hero__tagline {
  font-weight: 400;
  max-width: 500px;
  line-height: 2;
  margin-bottom: 0;
}

.hero__tagline::before {
  content: open-quote;
}
.hero__tagline::after {
  content: close-quote;
}

.hero__btns {
  margin-top: 4rem;
}

.hero__img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  display: none;
}
.hero__users {
  margin-top: 6rem;
}

/*Beta Users*/
.beta-user-img {
  display: flex;
  position: relative;
  margin-top: 4rem;
}
.user {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  position: absolute;
  border: 1px solid var(--color-black);
  transition: transform 0.5s;
}

#user1 {
  left: 0;
}
#user2 {
  left: 25px;
}
#user3 {
  left: 50px;
}
#user4 {
  left: 75px;
}
#user5 {
  left: 100px;
}

.user:hover {
  transform: translateY(-10px);
}
.user__content {
  position: absolute;
  left: 150px;
}

.user__num {
  font-weight: 500;
  margin-bottom: 0;
}
.user__sub {
  font-size: 1rem;
  color: var(--color-muted);
  font-weight: 300;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .hero__img {
    display: block;
  }
  .hero__btns .btn {
    font-size: 2rem;
    padding: 1.2re 2rem;
  }
}
@media screen and (min-width: 768px) {
  .hero__img {
    display: block;
  }
}

/*Partners*/
.partners {
  text-align: center;
}

.partner__logoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.partner__img {
  width: 110px;
  height: 110px;
  fill: #706d6e !important;
  margin: 0 auto;
}
.partner__heading {
  margin: 0 auto;
  color: #706d6e;
  letter-spacing: 1.5;
}
@media screen and (min-width: 768px) {
  .partner__logoes {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
}

/*Cards*/
.card {
  max-width: 430px;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  height: fit-content;
}

.card__header {
  padding: 2rem 3rem;
  font-weight: 600;
}
.card__body {
  font-weight: 300;
  padding: 2rem 3rem;
  line-height: 1.5;
}

/*Card-Service*/

.card__service {
  padding: 4rem 0;
}
.card__icon__container {
  background: linear-gradient(
    0deg,
    rgba(245, 242, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__icon {
  font-size: 3rem;
}

.card__service:hover {
  background: linear-gradient(
    0deg,
    rgba(245, 242, 242, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.card__service:hover .card__icon__container {
  background: linear-gradient(to bottom, #dcdada, #ffffff);
}

/*Card Credit*/
.card--credit {
  width: 100%;
  background: var(--color-white);
  border-radius: 30px;
}
.credit__card__top {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
}

.credit__card__img {
  width: 100%;
  max-width: 300px;
  margin-top: 2rem;
}

.credit__card__icon {
  border: 1px solid rgba(123, 123, 123, 0.373);
  background: var(--color-primary);

  border-radius: 10px;
  position: absolute;
  font-size: 14px;
  padding: 1.2rem;
  margin-top: 3.5rem;
}

.pre {
  left: -1rem;
}
.next {
  right: -1rem;
}

.credit__card__mid {
  display: flex;
  flex-direction: column;
}

.credit__card__mid__btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1rem;
}

.mid__btn {
  border: 1px solid rgba(123, 123, 123, 0.373);
  padding: 1.5rem;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
}

.mid__btn__title {
  display: flex;
  justify-content: space-evenly;
  padding-top: 0.5rem;
}

.mid__btn__title span {
  font-size: 1.1rem;
  font-weight: 500;
}

.credit__card__header {
  text-align: left;
  color: var(--color-muted);
  font-size: 1.5rem;
  padding-bottom: 0;
}

.card__body__credit__list {
  padding-bottom: 0;
}
.credit__card__list__body {
  list-style: none;
  padding: 0;
  margin-top: 0;
  text-align: left;
}

.credit__card__li {
  border-bottom: 1px solid var(--color-muted);
  padding: 1rem 0;
  box-shadow: 0px 8px 10px -15px #111;
}

.credit__card__list__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.list__img {
  width: 30px;
  border-radius: 100%;
}

.list__heading,
.list__price {
  font-size: 1.2rem;
  font-weight: 600;
}

.list__right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list__sub {
  padding-left: 4rem;
  text-align: left;
  top: 0;
  font-size: 1.2rem;
}

.credit__card__list__body :last-child {
  border: none;
  box-shadow: none;
  padding-bottom: 0;
}
.credit__card__list__body :first-child {
  padding-top: 0;
}

/*Card-Nested*/

.nested__container {
  position: relative;
}

.card--nested {
  width: 100%;
  background: var(--color-white);
  padding: 2rem;
  text-align: left;
}

.card__nested__top {
  border: 1px solid rgba(123, 123, 123, 0.373);
  border-radius: 10px;
  padding: 1rem;
  background: var(--color-primary);
  display: flex;
  flex-direction: column;
  /* margin: 0 2rem; */
}

.card__nested__item {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1rem 0;
}
.card__nested__body {
  padding: 0;
}
.dollar__card,
.eur__card {
  background: var(--color-primary);
  padding: 1.5rem;
  border-radius: 10px;
}

.dollar__card {
  margin: 2rem 0;
}
.dollar__card__currency,
.eur__card__currency {
  font-size: 1.7rem;
  font-weight: 600;
}
.dollar__card__num,
.eur__card__num,
.dollar__card__sub,
.eur__card__sub,
.card__inner__sub {
  color: var(--color-muted);
  font-size: 1.5rem;
  bottom: 0;
}

.dollar__card__price,
.eur__card__price,
.card__inner__price {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2rem;
}

.card__nested__btn {
  display: flex;
  justify-content: flex-end;
}

/*Card-Inner*/
.card__inner {
  display: none;
  background: linear-gradient(
    130deg,
    rgba(30, 140, 229, 0.7026126124277836) 17%,
    rgba(241, 55, 242, 0.747430539598652) 50%,
    rgba(241, 148, 17, 0.8118563099067753) 100%
  );
  position: absolute;
  width: 100%;
  max-width: 250px;
  top: 28%;
  left: 55%;
}

.card__inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  padding: 1.25rem 0;
}
.card__inner__mid {
  text-align: left;
  color: var(--color-white);
}
.card__inner__sub {
  color: var(--color-white);
}
.card__inner__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  margin-top: 3rem;
  padding: 1.25rem 0;
}

/*Card-Crm*/

.card--crm {
  background: var(--color-white);
  width: 100%;
  padding: 2rem;
  transition: transform 0.5s;
}

.card--crm:hover {
  transform: scale(1.1);
}

.card__body__crm {
  padding: 0 2rem;
}
.card__crm__icon {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 5rem;
  padding: 0 2rem;
}
.card__body__crm {
  text-align: left;
}

.card__crm__footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}
.crm__img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.footer__right {
  text-align: left;
  padding: 1.5rem;
}
.crm__heading,
.crm__job__title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7;
  margin: 0;
}
.footer__icon {
  padding-top: 1rem;
  font-size: 1.5rem;
}
@media screen and (min-width: 769px) {
  .grid--cols-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .credit__card__icon {
    padding: 1.25rem;
  }
  .pre {
    left: -1rem;
  }
  .next {
    right: -1rem;
  }
  .card__nested__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}
@media only screen and (min-width: 1024px) {
  .card__inner {
    display: block;
  }
}

/*Feature-Content*/
.feature__content {
  width: 100%;
  max-width: 450px;
  padding: 2rem;
  margin: 0 auto;
}
.feature__body {
  margin-bottom: 3rem;
  font-weight: 400;
  line-height: 1.8;
}
@media screen and (min-width: 768px) {
  .feature:nth-of-type(odd) .feature__content {
    order: 2;
  }
}

/*Callout*/

.callout__container {
  background: var(--color-accent);
  text-align: center;
  margin: 0 auto;
  padding: 4rem;
  border-radius: 30px;
}

/*Footer*/

ul {
  list-style: none;
  padding-left: 0;
}

.footer__content a {
  line-height: 1.8;
  font-weight: 300;
  color: var(--color-muted);
}

.footer__section {
  padding: 2rem;
  border-bottom: 1px solid #393939;
}

.footer__header {
  text-transform: uppercase;
  font-weight: 600;
}

.footer__brand {
  margin-top: 5rem;
  text-align: center;
}

.footer__brand img {
  width: 100%;
  max-width: 230px;
}

.footer__sub {
  color: var(--color-muted);
  font-size: 1.5rem;
  font-weight: 400;
}

.footer__section {
  margin-top: 0;
  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .footer__section {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    border: none;
  }
  .footer .collapsible__chevron {
    display: none;
  }
  .footer .collapsible__content {
    max-height: 100%;
    opacity: 1;
  }

  .footer__brand {
    order: -1;
    margin-top: 1rem;
  }

  .footer__ {
    font-size: 1.5rem;
  }

  .footer__heading {
    font-size: 1.6rem;
  }
}

/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  width: 100%;
  max-width: 400px;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 20px;
  /* border: 1px solid #888; */
  border-radius: 5px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
}

.cardLogin,
.cardRegister {
  width: 100%;
  max-width: 365px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  margin: 0 auto;
}

.login-heading,
.register-heading {
  color: var(--color-accent);
  margin-bottom: 4rem;
}

.loginForm,
.registerForm {
  display: flex;
  flex-direction: column;
}

.btnLogin,
.btnRegister {
  padding: 10px;
  background: var(--color-black);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.switch {
  margin-top: 1.5rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.switch a {
  color: var(--color-accent);
  text-decoration: none;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {
  background-color: #04aa6d;
}
.alert.info {
  background-color: #2196f3;
}
.alert.warning {
  background-color: #ff9800;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.success {
  display: none;
}


/*Collapsibles*/

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}
.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.5s;
}

.collapsible__content {
  max-height: 0;
  transition: all 0.5s;
  opacity: 0;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
} *
.nav__toggler {
  transition: box-shadow 0.5s;
  cursor: pointer;
  text-align: end;
  padding: .75rem ;
  font-size: 3.5rem;
  border-radius: 5px;

}
.nav.collapsible--expanded .nav__toggler {
  box-shadow: 0 0 0 3px #666;
  border-radius: 5px;
}



@media screen and (min-width: 768px) {
 
  .nav__toggler {
    display: none;
  }

  
}