<div class="beta-user-img">
    <img src="/assets/images/users (1).jpg" alt="" class="user" id="user1">
    <img src="/assets/images/users (2).jpg" alt="" class="user" id="user2">
    <img src="/assets/images/users (3).jpg" alt="" class="user" id="user3">
    <img src="/assets/images/users (4).jpg" alt="" class="user" id="user4">
    <img src="/assets/images/users (5).jpg" alt="" class="user" id="user5">
    <div class="user__content">
      <p class="user__num">1000+</p>
      <sub class="user__sub">Beta Users</sub>
    </div>
  
  </div>