<!--basic card-->
<div class="card">
    <header>aa</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas optio
      obcaecati est dolores? Assumenda doloribus deleniti, iure ab dolores
      delectus deserunt corrupti iusto hic officia, ducimus nemo, obcaecati
      laboriosam alias!1
    </div>
    <div class="card__footer">lorem5</div>
  </div>

  <!--card-service-->
  <div id="a" class="card">
    <div id="b" class="card__icon__container">    <i class="fa-solid fa-money-bills card__icon"></i>
    </div>
    <header class="card__header">Checking Account</header>
    <div class="card__body">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas optio
      obcaecati est dolores? Assumenda doloribus deleniti
    </div>
  </div>