<footer>
  <div class=" grid footer__section">
    <div class="footer__section">
      <div class="footer__header">Contact</div>
      <div class="footer__content ">
        <ul>
          <li><a href="#">+145753125000</a></li>
          <li><a href="#">payone</a></li>
          <li><a href="#">5600 Parkway </a></li>
        </ul>
      </div>
    </div>
    <div class="footer__section">
      <div class="footer__header">Support</div>
      <div class="footer__content">
        <ul>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__section" >
      <div class="footer__header">Explore</div>
      <div class="footer__content">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Why Payone?</a></li>
          <li><a href="#">Feature</a></li>
        </ul>
      </div>
    </div>
    <div class="footer__brand">
      <img src="/assets/svg/logo.svg" alt="">
      <p class="footer__sub">your banking journey simplified</p>
    </div>
  </div>
  
 </footer>