<section>
    <div class="container grid grid--cols-2">
      <header>
        <h1>The Modern Finance Solution With PayOne</h1>

        <p class="hero__tagline">
          Transforming the future of finance: You gateway to a seamless Fin
          Tech Experience
        </p>
        <div class="hero__btns">
          <a href="#" class="btn btn--secondary">Get Started</a>
          <a href="#" class="btn btn--primary">Download Now</a>
        </div>
      </header>
      <img class="hero__img" src="/assets/images/crediet-card.png" />
    </div>
  </section>