
<div class="container partners">
    <h6 class="partner__heading">Some Of Our Trusted Partners/Affiliates</h6>
    <div class="partner__logoes">
        <img class="partner__img" src="/assets/svg/microsoft-logo-svgrepo-com.svg" alt="">
        <img class="partner__img" src="/assets/svg/google-2015-logo-svgrepo-com.svg" alt="">
        <img class="partner__img" src="/assets/svg/spotify-1-logo-svgrepo-com.svg" alt="">
        <img class="partner__img" src="/assets/svg/stripe-svgrepo-com.svg" alt="">
        <img class="partner__img" src="/assets/svg/uber-svgrepo-com.svg" alt="">
        <img class="partner__img" src="/assets/svg/apple-watch-logo-svgrepo-com.svg" alt="">
    </div>
</div>